# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Dataset (tidak perlu di-deploy)
dataset/

# Jupyter Notebooks (tidak perlu di server)
*.ipynb
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# CatBoost info
catboost_info/
